.yadcf-filter-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.yadcf-filter-wrapper input {
  border: 1px solid #efefef;
  padding: 6px 12px;
  margin: 0 4px;
  border-radius: 6px;
  width: 100%;
}

.yadcf-filter-wrapper input:focus,
.yadcf-filter-wrapper input:focus-visible {
  border: 1px solid #ddd !important;
  outline: none;
}

.yadcf-filter-wrapper .yadcf-filter-reset-button {
  position: absolute;
  right: 0px;
  background: #ededed;
  border: 0;
  border-radius: 0 6px 6px 0;
  height: 100%;
  color: #000;
}

.yadcf-filter-wrapper-inner {
  display: flex;
}
